.headline{
    min-width:1300px;
    height:60px;
    background-color:#ffeb36;
    display: flex;
    justify-content: flex-start;
}
.logo-burger{
    width:20px;
    height:20px;
    margin-left:200px;
    cursor:pointer;
    background-color: black;
}